@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
    ::selection {
        @apply bg-primary/55
    }
}

@theme {
    --animate-fade-in-opacity: fade-in-opacity 0.6s ease-out;
    @keyframes fade-in-opacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

@theme inline {
    --color-outline: var(--outline);
    --color-outline-variant: var(--outline-variant);
}

h1 {
    @apply text-4xl lg:text-5xl font-extrabold tracking-tight
}

h2 {
    @apply text-3xl font-semibold tracking-tight
}

h3 {
    @apply text-2xl font-semibold tracking-tight
}

h4 {
    @apply text-xl font-semibold tracking-tight
}

p {
    @apply text-base my-2 tracking-tight
}